flows (1).json
[{"id":"af442434.2f71b8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b81f37f2.3d0528","type":"function","z":"af442434.2f71b8","name":"noise","func":"global.set('noise',msg.payload.d.noise)\nmsg.payload=msg.payload.d.noise\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":200,"wires":[["7c7ee689.731678","300ba41.7182b5c","2e958a75.9911a6"]]},{"id":"9939f7ff.8baa58","type":"ibmiot in","z":"af442434.2f71b8","authentication":"apiKey","apiKey":"d7f8c2fe.68d14","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":240,"wires":[["300ba41.7182b5c","b81f37f2.3d0528","14f21a58.6b1096","df1bf36c.d3e86","46635c9e.75f114"]]},{"id":"300ba41.7182b5c","type":"debug","z":"af442434.2f71b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"14f21a58.6b1096","type":"function","z":"af442434.2f71b8","name":"latitude","func":"global.set('latitude',msg.payload.d.latitude)\nmsg.payload=msg.payload.d.latitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["300ba41.7182b5c"]]},{"id":"df1bf36c.d3e86","type":"function","z":"af442434.2f71b8","name":"longitude","func":"global.set('longitude',msg.payload.d.longitude)\nmsg.payload=msg.payload.d.longitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":260,"wires":[["300ba41.7182b5c","51656ef7.7a766"]]},{"id":"7c7ee689.731678","type":"ui_gauge","z":"af442434.2f71b8","name":"noise","group":"1493cc8e.ac37b3","order":10,"width":0,"height":0,"gtype":"gage","title":"noise","label":"db","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":180,"wires":[]},{"id":"46635c9e.75f114","type":"cloudant out","z":"af442434.2f71b8","name":"","cloudant":"","database":"noise","service":"node-red-fqitt-2021--cloudant-1620812472372-80956","payonly":true,"operation":"insert","x":170,"y":320,"wires":[]},{"id":"24f174f5.516b8c","type":"http in","z":"af442434.2f71b8","name":"http in","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["445eff80.713b6"]]},{"id":"df753b4f.eab948","type":"http response","z":"af442434.2f71b8","name":"","statusCode":"","headers":{},"x":590,"y":380,"wires":[]},{"id":"445eff80.713b6","type":"function","z":"af442434.2f71b8","name":"http response","func":"msg.payload={'noise':global.get(\"noise\"),'latitude':global.get(\"latitude\"),'longitude':global.get(\"longitude\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["df753b4f.eab948"]]},{"id":"51656ef7.7a766","type":"ui_worldmap","z":"af442434.2f71b8","group":"1493cc8e.ac37b3","order":11,"width":0,"height":0,"name":"","lat":"16.5062","lon":"80.6480","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":400,"y":320,"wires":[]},{"id":"2e958a75.9911a6","type":"rbe","z":"af442434.2f71b8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":120,"wires":[["abc7ec8a.dd0b5"]]},{"id":"382015b8.77e24a","type":"http request","z":"af442434.2f71b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=HiwJpLM3yeqNh9WgaP7zKnxBuCXmjRV5vZYOl2kQdGt81FbU46JGKtOgexlNW2EY0UFqikwB9om1APHb&message=Noise%20is%20very%20high&language=english&route=q&numbers=9502709274,9866876859,6305540082","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":180,"wires":[["1bef0e8a.49d391"]]},{"id":"abc7ec8a.dd0b5","type":"switch","z":"af442434.2f71b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":100,"wires":[["382015b8.77e24a"]]},{"id":"1bef0e8a.49d391","type":"debug","z":"af442434.2f71b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"d7f8c2fe.68d14","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1493cc8e.ac37b3","type":"ui_group","name":"Default","tab":"46a08df.076ab74","order":1,"disp":true,"width":"6","collapse":false},{"id":"46a08df.076ab74","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]